.navbar-logo {
    width: 120px;
    height: auto;
}

.navbar-user-icon {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.navbar-welcome {
    font-size: 1.4rem;
    /* Ajuste conforme necessário */
    color: #573c3c;
    font-weight: bold;
    padding-right: 1rem;
}