<div class="vh-100 d-flex flex-center">
    <form (ngSubmit)="login()" class="card w-40 p-4 m-auto shadow-lg border-0 dog-breed-form" #loginForm="ngForm">
        <div class="card-body">
            <h5 class="card-title mb-4 text-center">Login</h5>
            <div class="mb-3">
                <label class="form-label visually-hidden">Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="username" required
                    #usernameModel="ngModel" placeholder="Username">
                <p *ngIf="!usernameModel.valid && usernameModel.touched" class="text-danger mt-1">Invalid username</p>
            </div>
            <div class="mb-3">
                <label class="form-label visually-hidden">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" required
                    minlength="8" placeholder="Password">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-brown me-2">Login</button>
                <button type="button" (click)="register()" class="btn btn-success">Register</button>
            </div>
        </div>
    </form>
</div>