<div class="vh-100 d-flex flex-center">
    <form (ngSubmit)="changePassword()" class="card w-40 p-4 m-auto shadow-lg border-0 dog-breed-form"
        #registerForm="ngForm">
        <div class="card-body text-center">
            <h2 class="site-title mb-4 text-center">Dog Breeds</h2>
            <h5 class="card-title mb-4 text-center">Change Password</h5>
            <div class="mb-3">
                <label class="form-label visually-hidden">Actual Password</label>
                <input type="password" class="form-control" name="actualPassword" [(ngModel)]="actualPassword" required
                    #actualPasswordModel="ngModel" placeholder="Actual Password">
            </div>
            <div class="mb-3">
                <label class="form-label visually-hidden">New Password</label>
                <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword" required
                    minlength="8" #passwordModel="ngModel" placeholder="New Password">
                <p *ngIf="passwordModel.errors?.['minlength'] && passwordModel.touched" class="text-danger mt-1">
                    Password must be at least 8 characters
                </p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" [disabled]="!registerForm.valid" class="btn btn-brown me-2">Change
                    Password</button>
                <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>