<app-navbar></app-navbar>

<div class="container mt-4">
    <div class="row dog-list">
        <div class="col-md-4 mb-4" *ngFor="let dog of dogsLiked">
            <div class="dog-card">
                <a [routerLink]="['/dogRace', dog.id]" class="dog-link">
                    <img [src]="dog.image.url" [alt]="dog.name" class="dog-image">
                </a>
                <div class="dog-info">
                    <a [routerLink]="['/dogRace', dog.id]" class="dog-link">
                        <span class="dog-name">{{ dog.name }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>